<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная::Планировщик задач</title>
</head>
<body>
    <h1>Задачи</h1>
    <div>
        <a href="/planner/">Главная</a>
        {% for type in types %}
        <a href="/planner/{{type.pk }}/">{{ type.name }}</a>
        {% endfor %}
        <a href="/planner/add/">Добавить</a>
    </div>
    {% for delo in delos %}
    <div>
        <h2> {{ delo.title }} </h2>
        <p> Описание - {{delo.content}}</p>
        <p><a href="/planner/{{ delo.type.pk }}/"> {{ delo.type.name }} </a> </p>
        <p> Важность - {{delo.importance}}</p>
    </div>
    {% endfor %}
</body>
</html>